<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="flight-list root-flights">
<span>
<div class>
<div>
    <div>
        <div class="flight-item domestic" data-curseg-minmiseryindex="Infinity" data-minmiseryindex="Infinity">
            <div class="flight-box">
                <div class="flight-row more-padding">
                    <div class="flight-airline"><img class="airline-logo"
                                                     src="//pic.c-ctrip.com/flight_intl/airline_logo/40x35/KN.png">
                        <div class="airline-name"><span class="" id="airlineNameKN5897_1623729300000-0">中国联合航空</span>
                        </div>
                        <div class="plane" id="comfort-KN5897_1623729300000-0">
                            <div class="plane"><span class="plane-No">KN5897&nbsp;<span
                                    class="">波音737(中)</span></span><span class="plane-service"><i class="ico-video"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-box"><span class="tag-best-choice-flights">当日最低价</span></div>
                    <div class="flight-detail">
                        <div class="depart-box">
                            <div class="time">11:55</div>
                            <div class="airport"><span class="name" id="departureFlightTrainKN5897_1623729300000-0">大兴国际机场</span><span
                                    class="terminal " id="departureTerminalKN5897_1623729300000-0"></span></div>
                        </div>
                        <div class="arrow-box" id="flightInfo-KN5897_1623729300000-0">
                            <div><i class="arrow-oneway"></i>
                                <div class="transfer-info-group">
                                    <div class="horizontal-center"></div>
                                </div>
                            </div>
                        </div>
                        <div class="arrive-box">
                            <div class="time">15:15<span class="day"> </span></div>
                            <div class="airport"><span class="name"
                                                       id="arrivalFlightTrainKN5897_1623729300000-0">白云国际机场</span><span
                                    class="terminal " id="arrivalTerminalKN5897_1623729300000-0">T1</span></div>
                        </div>
                    </div>
                    <div class="flight-arrival-punctuality-list">
                        <div class="flight-arrival-punctuality"
                             id="flightArrivalPunctuality_KN5897_1623729300000-0_KN5897">到达准点率47%
                        </div>
                        <div class="empty-tool-tip-inline" style="display: inline;"></div>
                    </div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                </div>
                <div class="flight-operate">
                    <div class="flight-price">
                        <div class="flight-price domestic-flight-price">
                            <div class="price over-size low-price"><span class="price"><dfn>¥</dfn>407</span><span
                                    class="qi">起</span></div>
                            <div class="sub-price-detail">
                                <div class="sub-price-item">经济舱1.8折</div>
                            </div>
                        </div>
                    </div>
                    <div class="flight-action">
                        <div class="btn btn-book" u_key="flight_action_expand_all_price" u_remark="航班上展开/收起运价">订票<i
                                class="arrow-t-down-white"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="flight-item domestic" data-curseg-minmiseryindex="Infinity" data-minmiseryindex="Infinity">
        <div class="flight-box">
            <div class="flight-row more-padding">
                <div class="flight-airline"><img class="airline-logo"
                                                 src="//pic.c-ctrip.com/flight_intl/airline_logo/40x35/KN.png">
                    <div class="airline-name"><span class="" id="airlineNameKN5829_1623739200000-100">中国联合航空</span>
                    </div>
                    <div class="plane" id="comfort-KN5829_1623739200000-100">
                        <div class="plane"><span class="plane-No">KN5829&nbsp;<span class="">波音737(中)</span></span><span
                                class="plane-service"><i class="ico-video"></i></span></div>
                    </div>
                </div>
                <div class="tab-box"><span class="tag-best-choice-flights">当日最低价</span></div>
                <div class="flight-detail">
                    <div class="depart-box">
                        <div class="time">14:40</div>
                        <div class="airport"><span class="name"
                                                   id="departureFlightTrainKN5829_1623739200000-100">大兴国际机场</span><span class="terminal "
                                                                                   id="departureTerminalKN5829_1623739200000-100"></span>
                        </div>
                    </div>
                    <div class="arrow-box" id="flightInfo-KN5829_1623739200000-100">
                        <div><span class="stop-text">经停</span><i class="arrow-oneway"></i>
                            <div class="transfer-info-group">
                                <div class="horizontal-center">
                                    <div class="transfer-info"><span class="high-light"
                                                                     id="flightStop-KN5829_1623739200000-100-0">十堰45m<div
                                            class="empty-tool-tip-inline" style="display: inline;"></div></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="arrive-box">
                        <div class="time">20:25<span class="day"> </span></div>
                        <div class="airport"><span class="name"
                                                   id="arrivalFlightTrainKN5829_1623739200000-100">白云国际机场</span><span class="terminal "
                                                                                   id="arrivalTerminalKN5829_1623739200000-100">T1</span>
                        </div>
                    </div>
                </div>
                <div class="flight-arrival-punctuality-list">
                    <div class="flight-arrival-punctuality"
                         id="flightArrivalPunctuality_KN5829_1623739200000-100_KN5829">到达准点率67%
                    </div>
                    <div class="empty-tool-tip-inline" style="display: inline;"></div>
                </div>
                <div class="empty-tool-tip-inline" style="display: inline;"></div>
                <div class="empty-tool-tip-inline" style="display: inline;"></div>
                <div class="empty-tool-tip-inline" style="display: inline;"></div>
                <div class="empty-tool-tip-inline" style="display: inline;"></div>
                <div class="empty-tool-tip-inline" style="display: inline;"></div>
                <div class="empty-tool-tip-inline" style="display: inline;"></div>
                <div class="empty-tool-tip-inline" style="display: inline;"></div>
                <div class="empty-tool-tip-inline" style="display: inline;"></div>
                <div class="empty-tool-tip-inline" style="display: inline;"></div>
                <div class="empty-tool-tip-inline" style="display: inline;"></div>
                <div class="empty-tool-tip-inline" style="display: inline;"></div>
            </div>
            <div class="flight-operate">
                <div class="flight-price">
                    <div class="flight-price domestic-flight-price">
                        <div class="price over-size low-price"><span class="price"><dfn>¥</dfn>407</span><span
                                class="qi">起</span></div>
                        <div class="sub-price-detail">
                            <div class="sub-price-item">经济舱1.8折</div>
                        </div>
                    </div>
                </div>
                <div class="flight-action">
                    <div class="btn btn-book" u_key="flight_action_expand_all_price" u_remark="航班上展开/收起运价">订票<i
                            class="arrow-t-down-white"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</span>
</div>

</body>
</html>
